<nav class="myNavbar">
    <a class="myNavElement" href="/blogs">Blogs</a>
    <a class="myNavElement" href="/blogs/new">Create Blog</a>
    <a class="myNavElement" href="#">Contact</a>
    <a class="myNavElement" href="#">Team</a>
</nav>