.container{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}

.div{
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}

#btn{
    padding: 20px;
    margin: auto;
    font-family: sans-serif;
    font-size: 40px;
    
}

.changeColor{
    background-color: grey;
    color: white;
}

.gayab{
    display: none;
}