<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>

<body>
    {{> navbar}}
    <form action="/blogs/update/{{blog._id}}" method="post">
        Title: <input value={{blog.title}} name="title" type="text" placeholder="title"><br>
        Description: <input value={{blog.description}} name="description" type="text" placeholder="description"><br>
        Image Url: <input value="{{blog.image}}" name="imageUrl" type="text" placeholder="enter image url"><br>
        <button type="submit">Update Blog</button>
    </form>

</body>
</html>