.el{
    /* height: 50px;
    width: 50px; */
    font-size: larger;
    font-weight: bold;
    border: 1px solid black;
}

.el-1{
    background-color: aqua;
    grid-area: e1;
}
.el-2{
    grid-area: e2;
    background-color: burlywood;
}
.el-3{
    background-color: purple; 
    color: white;
    grid-area: e3;
}
.el-4{
    background-color: orange;
    grid-area: e4;
}
.el-5{
    background-color: orangered; 
    color: white;
    grid-area: e5;
}

.container{
    border: 3px solid rebeccapurple;
    display: grid;
    width: 400px;
    height: 300px;
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px 10px;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "e1 e1 e2"
    "e3 e4 e2"
    "e3 e5 e5";
}