<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Blog</h1>
    <form action="/blog" method="POST">
        <input type="text" name="title" placeholder="title"><br>
        <input type="text" name="blogContent" placeholder="blogContent"><br>
        <input type="text" name="imageUrl" placeholder="imageUrl">
        <br>
        <button type="submit">Add Blog</button>
    </form>
</body>
</html>