<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

   

 <script src="/js/script.js"></script>
</head>
<body>  
    {{> navbar}}

    {{#each blogs as |blog|}}
        <li>
            {{blog.title}} <br> {{blog.description}} <br> 
            <img style="height: 250px;" src="{{blog.image}}">

            <a class="showDetails" href="/blogs/details/{{blog._id}}">Show Details</a>
        </li>
    {{/each}}
</body>
</html>